// Place all the styles related to the Comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-collapse: collapse;
	background-color: #333388;
}

th {
	background-color: #333388;
	color: white;
}

.listingContainer {
	box-shadow: 5px 5px 5px #888888;
}

.webComicSection {
	background-color: #AAAADD;
	width: 100%;
}

.topRow{
	text-align: center;
}

.webComicSection:hover {
	background-color: #FFFFFF;
	transition: 0.2s;
}

.tdSynopsis{
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

.contentBox{
	box-shadow: 5px 5px 5px #888888;
	background-color: #CCCCCC;
}

.mainContainer{
	position:absolute;
	width: 1000px;
}

#header {
	position:absolute;
	margin-left: 10px;
	margin-top: 10px;
	width: 800px;
	height: 100px;
}

#login {
	position:absolute;
	margin-left: 825px;
	margin-top: 10px;
	width: 205px;
	height: 100px;
}

#search {
	position: absolute;
	margin-left: 10px;
	margin-top: 125px;
	width: 1020px;
	height: 50px;
}

#content {
	padding: 10px;
	position: absolute;
	margin-left: 10px;
	margin-top: 190px;
	width: 1000px;
}
